USE [master]
GO
/****** Object:  Database [DEV_TEST]    Script Date: 25/04/2021 22:13:02 ******/
CREATE DATABASE [DEV_TEST]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DEV_TEST', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DEV_TEST.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DEV_TEST_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DEV_TEST_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DEV_TEST].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DEV_TEST]
GO
USE [DEV_TEST]
GO
/****** Object:  Sequence [dbo].[hibernate_sequence]    Script Date: 25/04/2021 22:13:03 ******/
CREATE SEQUENCE [dbo].[hibernate_sequence] 
 AS [bigint]
 START WITH 1
 INCREMENT BY 1
 MINVALUE -9223372036854775808
 MAXVALUE 9223372036854775807
 CACHE 
GO
/****** Object:  Table [dbo].[produto]    Script Date: 25/04/2021 22:13:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[produto](
	[id] [bigint] IDENTITY(1,1) NOT NULL,
	[nome_produto] [varchar](255) NOT NULL,
	[quantidade] [int] NOT NULL,
	[valor] [float] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[produto] ON 

INSERT [dbo].[produto] ([id], [nome_produto], [quantidade], [valor]) VALUES (1, N'Sabonete dove', 30, 2.25)
INSERT [dbo].[produto] ([id], [nome_produto], [quantidade], [valor]) VALUES (4, N'Amaciante concentrado', 80, 9.25)
INSERT [dbo].[produto] ([id], [nome_produto], [quantidade], [valor]) VALUES (5, N'Creme dental Colgate', 55, 5.25)
SET IDENTITY_INSERT [dbo].[produto] OFF
GO
USE [master]
GO
